.Editor {
  height: calc(100vh - 10px);
  width: 100vw;

  &__line {
    stroke: rgba(106, 106, 106, 0.75);
    stroke-width: 3;

    &_active {
      stroke: #67b0ff;
    }
  }

  &__point {
    fill: white;
    stroke-width: 3;
    stroke: #333;

  }

}