.Editor {
  height: calc(100vh - 10px);
  width: 100vw;

  &__line {
    stroke: #333;
    stroke-width: 3;
    cursor: pointer;

    &_active {
      stroke: #2980B9;
      cursor: default;
    }
  }

  &__point {
    fill: white;
    stroke-width: 3;
    stroke: #3498DB;
    cursor: pointer;
  }

}